<template>
  <div class="home">
    <Component msg="Welcome to Your Vue.js App"/>
  </div>
</template>

<script>
// @ is an alias to /src
import Component from '@/components/Component.vue'

export default {
  name: 'HomeView',
  components: {
    Component
  }
}
</script>
